<div class="ui padded grid">
  <div class="five column row">
    <div class="blue column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>${_station.name}</h3>
          Lat: ${utils.StationUtil.roundedLatitude(_station)}<br>
          Lng: ${utils.StationUtil.roundedLongitude(_station)}<br>
        </div>
        <div class="right floated center aligned column">
          <i class="teal marker huge icon"></i>
        </div>
      </div>
    </div>
    <div class="teal column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Weather</h3>
          #{if _station.readings}
            ${utils.StationUtil.weather(_station)[0]}<br>
            ${utils.StationUtil.beaufortLabel(utils.StationUtil.beaufort(_station))}
          #{/if}
        </div>
        <div class="right floated center aligned column">
          <i class="olive ${utils.StationUtil.weather(_station)[1]} huge icon"></i>
        </div>
      </div>
    </div>
    <div class="blue column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Temperature</h3>
          #{if _station.readings}
            ${utils.StationUtil.temperature(_station)} °C<br>
            ${utils.StationUtil.fahrenheit(_station)} °F<br>
            ${utils.StationUtil.minMax('temperature', _station)}
          #{/if}
        </div>
        <div class="right floated center aligned column">
          <i class="teal temperature low huge icon"></i><br><br>
          <i class="teal big arrow ${utils.StationUtil.trend('temperature', _station)} icon"></i>
        </div>
      </div>
    </div>
    <div class="teal column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Wind</h3>
          #{if _station.readings}
            ${utils.StationUtil.beaufort(_station)} bft<br>
            ${utils.StationUtil.direction(_station)}<br>
            Feels like: ${utils.StationUtil.feelsLike(_station)} °C<br>
            ${utils.StationUtil.minMax('windSpeed', _station)}
          #{/if}
        </div>
        <div class="right floated center aligned column">
          <i class="olive wind huge icon"></i><br><br>
          <i class="olive big arrow ${utils.StationUtil.trend('windSpeed', _station)} icon"></i>
        </div>
      </div>
    </div>
    <div class="blue column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Pressure</h3>
          #{if _station.readings}
            ${utils.StationUtil.pressure(_station)} hPa<br>
            ${utils.StationUtil.minMax('pressure', _station)}
          #{/if}
        </div>
        <div class="right floated center aligned column">
          <i class="right teal huge sun outline loading icon"></i><br><br>
          <i class="teal big arrow ${utils.StationUtil.trend('pressure', _station)} icon"></i></div>
      </div>
    </div>
  </div>
</div>