<div class="ui padded grid">
  <div class="five column row">
    #{list items:_station, as:'station'}
    <div class="blue column">
      ${station.name} <i class="teal marker huge icon"></i><br>
      Lat: ${station.roundedLatitude()}<br>
      Lng: ${station.roundedLongitude()}<br>
    </div>
    <div class="teal column">
      Weather <i class="olive cloud sun huge icon"></i><br>
      ${station.weather(station.lastReading())}
    </div>
    <div class="blue column">
      Temperature <i class="teal temperature low huge icon"></i><br>
      ${station.readings.temperature[station.lastIndex()]} °C<br>
      ${station.fahrenheit(station.lastReading())} °F<br>
      <pre>${station.minMax('temperature')}</pre>
      <i class="teal big arrow ${station.trend('temperature')} icon"></i>
    </div>
    <div class="teal column">
      Wind <i class="olive wind huge icon"></i><br>
      ${station.beaufort(station.lastReading())} bft<br>
      ${station.direction(station.lastReading())}<br>
      Feels like: ${station.feelsLike(station.lastReading())} °C<br>
      <pre>${station.minMax('windSpeed')}</pre>
      <i class="blue big arrow ${station.trend('windSpeed')} icon"></i>
    </div>
    <div class="blue column">
      Pressure <i class="teal huge sun outline loading icon"></i><br>
      ${station.readings.pressure[station.lastIndex()]} hPa<br>
      <pre>${station.minMax('pressure')}</pre>
      <i class="teal big arrow ${station.trend('pressure')} icon"></i>

    </div>
    #{/list}
  </div>
</div>