<div class="ui padded grid">
  <div class="five column row">
    #{list items:_station, as:'station'}
    <div class="blue column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>${station.name}</h3>
          Lat: ${station.roundedLatitude()}<br>
          Lng: ${station.roundedLongitude()}<br>
        </div>
        <div class="right floated center aligned column">
          <i class="teal marker huge icon"></i>
        </div>
      </div>
    </div>
    <div class="teal column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Weather</h3>
          ${station.weather()[0]}
        </div>
        <div class="right floated center aligned column">
          <i class="olive ${station.weather()[1]} huge icon"></i>
        </div>
      </div>
    </div>
    <div class="blue column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Temperature</h3>
          ${station.readings.temperature[station.lastIndex()]} °C<br>
          ${station.fahrenheit()} °F<br>
          ${station.minMax('temperature')}
        </div>
        <div class="right floated center aligned column">
          <i class="teal temperature low huge icon"></i><br><br>
          <i class="teal big arrow ${station.trend('temperature')} icon"></i>
        </div>
      </div>
    </div>
    <div class="teal column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Wind</h3>
          ${station.beaufort()} bft<br>
          ${station.direction()}<br>
          Feels like: ${station.feelsLike()} °C<br>
          ${station.minMax('windSpeed')}
        </div>
        <div class="right floated center aligned column">
          <i class="olive wind huge icon"></i><br><br>
          <i class="olive big arrow ${station.trend('windSpeed')} icon"></i>
        </div>
      </div>
    </div>
    <div class="blue column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Pressure</h3>
          ${station.readings.pressure[station.lastIndex()]} hPa<br>
          ${station.minMax('pressure')}
        </div>
        <div class="right floated center aligned column">
          <i class="right teal huge sun outline loading icon"></i><br><br>
          <i class="teal big arrow ${station.trend('pressure')} icon"></i></div>
      </div>
    </div>
    #{/list}
  </div>
</div>