#{extends 'main.html' /}
#{set title:'WeatherTop Stations' /}

#{menu id:"dashboard"/}

#{list items:stations, as:'station'}
<section class="ui segment">
  #{latestweather station:station /}
  <a href="/station/${station.id}">
    <div class="ui animated fade button" tabindex="0">
      <div class="visible content">
        <i class="teal folder open icon"></i>
      </div>
      <div class="hidden content">
        View
      </div>
    </div>
  </a>
  <a href="/dashboard/deletestation/${station.id}">
    <div class="ui animated fade button" tabindex="0">
      <div class="visible content">
        <i class="brown trash icon"></i>
      </div>
      <div class="hidden content">
        Delete
      </div>
    </div>
  </a>
</section>
#{/list}
#{addstation /}
